.profile{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.headers {
    margin-bottom: 1%;
}

.post {
    height: 8%;
    margin-bottom: 1%;
}

#divimg {
    width: 33%;
    float: left;
    height: 7%;
}

#img {
    width: 61px;
    height: 43px;
    margin: 0.5%;
    margin-left: 0px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 4px;
}

#date {
    width: 33.6%;
    float: left;
    text-align: center;
}

#comments {
    width: 33.3%;
    float: left;
    text-align: right;
}